/* Desbordamiento */
/* Cuando tenemos un contenedor con tamaño fijo puede ser que */
/* el contenido se desborde */
/* Por defecto el contenido funciona como overflow:visible; */
.desbordamiento{
    width:150px;
    height:150px;
    padding:10px;
    background-color: white;
    box-sizing:border-box;
    font-size: 48px;
    /* overflow:hidden; */
    /* No se muestra el contenido desbordado */
    /* overflow:scroll; */
    /* Se muestra el contenido con una barra de desplazamiento */
    /* overflow:auto; */
    /* La version "mejorada" de scroll */
    /* Determina si tiene que mostrar las barras y las muestra o no */
    /* La barra del scroll se puede estilar */ 
}