.pulser{
    width:30px;
    height: 30px;
    background: #09f;
    border-radius: 50%;
    position:relative;
    transition-duration: 0.3s;
    transition-property: background , scale;
    /* Como se anima la transición */
    /* linear -> lineal
    ease-in -> lento al principio
    ease-out -> lento al final
    ease-in-out -> lento al principio y al final
    ease -> parecido al in-out
    función steps -> define cuantos pasos debe dar la animación
    cubic-bezier(x1, y1, x2, y2) -> puedes personalizar la curva bezier de la animación
    en las devTools puedes ver la animación que tienes.*/
    transition-timing-function: ease-in-out;
    /* Le podemos poner un delay a la transición */
    transition-delay: 200ms;
    /* Se puede animar una propiedad y otra de otra con el transition:
    transition: 
        background 300ms linear,
        scale 500ms ease-in-out,
        box-shadow 1s ease; */
}

/* gracias es esta media query podemos hacer que los usuarios con
las animaciones desactivadas no las vean (por si se marean, etc..) */

@media (prefers-reduced-motion : reduce){
    .pulser {
        transition: none;
    }
}

.pulser:hover{
    /* El scale hace que el espacio que ocupa sea el mismo pero visualmente aumenta */
    scale: 3;
    background-color: purple;
    box-shadow: 0 0 10px purple;
    /* Es interesante dentro del hover meterle una duración de transición
    mayor: */
    transition-duration:0.5s;
}

body{
    display:grid;
    place-content: center;
    min-height: 50vh;
}